<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


        <title>Encuentas no almacenadas</title>

        <script >
            var indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB
            var dataBase = indexedDB.open("programacion_web", 1);
            dataBase.onupgradeneeded = function (e) {
                active = dataBase.result;
                var registro = active.createObjectStore("registros", { keyPath: 'id', autoIncrement: false });
                registro.createIndex('por_indice', 'indice', { unique: false });
            };
            dataBase.onsuccess = function (e) {
                console.log('Proceso ejecutado de forma correctamente');
            };
            dataBase.onerror = function (e) {
                console.error('Error en el proceso: ' + e.target.errorCode);
            };

            function registrar() {
                var dbActiva = dataBase.result;
                var transaccion = dbActiva.transaction(["registros"], "readwrite");
                transaccion.onerror = function (e) {
                    alert(request.error.name + '\n\n' + request.error.message);
                };
                transaccion.oncomplete = function (e) {
                    document.querySelector("#name").value = "",
                        alert('Objeto agregado correctamente');
                    location.reload();
                };
                var registros = transaccion.objectStore("registros");
                var request = registros.put({
                    id: Math.floor(Math.random() * 10000),
                    name: document.querySelector("#name").value,
                    sector: document.querySelector("#sector").value,
                    level: document.querySelector("#level").value,
                    longitude: document.querySelector("#longitud").value,
                    latitude: document.querySelector("#latitud").value,
                });
                request.onerror = function (e) {
                    var mensaje = "Error: " + e.target.errorCode;
                    console.error(mensaje);
                    alert(mensaje)
                };
                request.onsuccess = function (e) {
                    console.log("Datos Procesado con exito");
                    document.querySelector("#name").value = "";
                    document.querySelector("#sector").value = "";
                    document.querySelector("#level").value = "";
                    document.querySelector("#longitud").value = "";
                    document.querySelector("#latitud").value = "";
                };
            }

            function modificar() {
                const params = new Proxy(new URLSearchParams(window.location.search), {
                    get: (searchParams, prop) => searchParams.get(prop),
                });
                const id = params.id;

                var data = dataBase.result.transaction(["registros"], "readwrite");
                var registros = data.objectStore("registros");

                registros.get(parseInt(id)).onsuccess = function (e) {
                    var resultado = e.target.result;
                    console.log("los datos: " + JSON.stringify(resultado));
                    if (resultado !== undefined) {

                        resultado.name = document.querySelector("#name").value;
                        resultado.sector = document.querySelector("#sector").value;
                        resultado.level = document.querySelector("#longitud").value;
                        resultado.longitude = document.querySelector("#level").value;
                        resultado.latitude = document.querySelector("#latitud").value;

                        var solicitudUpdate = registros.put(resultado);

                        solicitudUpdate.onerror = function (e) {
                            console.error("Error Datos Actualizados....");
                        }
                    } else {
                        console.log("Registro no encontrado...");
                    }
                };
            }

            function eliminarTodo() {
                const params = new Proxy(new URLSearchParams(window.location.search), {
                    get: (searchParams, prop) => searchParams.get(prop),
                });
                var data = dataBase.result.transaction(["registros"], "readwrite");
                data.objectStore("registros").clear();
                location.reload();
            }

            function listarDatos() {
                var data = dataBase.result.transaction(["registros"]);
                var registros = data.objectStore("registros");
                var contador = 0;
                var registros_recuperados = [];
                registros.openCursor().onsuccess = function (e) {
                    var cursor = e.target.result;
                    if (cursor) {
                        contador++;
                        registros_recuperados.push(cursor.value);
                        cursor.continue();
                    } else {
                        console.log("La cantidad de registros recuperados es: " + contador);
                    }
                };
                data.oncomplete = function () {
                    imprimirTabla(registros_recuperados);
                }
            }

            function getDatos() {
                var data = dataBase.result.transaction(["registros"]);
                var registros = data.objectStore("registros");
                var contador = 0;
                var registros_recuperados = [];
                registros.openCursor().onsuccess = function (e) {
                    var cursor = e.target.result;
                    if (cursor) {
                        contador++;
                        registros_recuperados.push(cursor.value);
                        cursor.continue();
                    } else {
                        console.log("La cantidad de registros recuperados es: " + contador);
                    }
                };
                data.oncomplete = function () {
                    return registros_recuperados;
                }
            }

            function eliminar(id) {

                var data = dataBase.result.transaction(["registros"], "readwrite");
                var registros = data.objectStore("registros");

                registros.get(parseInt(id)).onsuccess = function (e) {
                    var resultado = e.target.result;
                    console.log("los datos: " + JSON.stringify(resultado));
                    if (resultado !== undefined) {

                        var solicitudUpdate = registros.delete(resultado);

                        solicitudUpdate.onerror = function (e) {
                            console.error("Error Datos Actualizados....");
                        }
                    } else {
                        console.log("Registro no encontrado...");
                    }
                };
            }

            function imprimirTabla(registros_recuperados) {
                var tabla = document.getElementById("table");
                for (var key in registros_recuperados) {
                    filaTabla = tabla.insertRow();
                    filaTabla.insertCell().textContent = "" + registros_recuperados[key].id;
                    filaTabla.insertCell().textContent = "" + registros_recuperados[key].name;
                    filaTabla.insertCell().textContent = "" + registros_recuperados[key].sector;
                    filaTabla.insertCell().textContent = "" + registros_recuperados[key].level;
                    filaTabla.insertCell().textContent = "" + registros_recuperados[key].longitude;
                    filaTabla.insertCell().textContent = "" + registros_recuperados[key].latitude;
                    filaTabla.insertCell().insertAdjacentHTML(
                        'beforeend',
                        `<button type='button' onclick="location.href='/records/update?id=${registros_recuperados[key].id}&name=${registros_recuperados[key].name}&sector=${registros_recuperados[key].sector}&longitude=${registros_recuperados[key].longitude}&latitude=${registros_recuperados[key].latitude}&level=${registros_recuperados[key].level}';" class="btn btn-primary">Edit</button> <button type='button' onclick="eliminar(registros_recuperados[key].id);" class="btn btn-warning">Delete</button>`);
                }
                document.getElementById("listaRegistro").innerHTML="";
                document.getElementById("listaRegistro").appendChild(tabla);
            }
        </script>
    </head>
    <body>

  <div th:replace="/templates/crud-tradicional/plantilla.html::scriptDB"></div>


    <nav class="navbar navbar-expand-lg fixed-top portfolio-navbar gradient navbar-dark" style="background-color: #1EB6F3;">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/crud-simple/listar">Agentes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/localStorage.html">Encuestas Locales</a></li>
                    <li class="nav-item"><a class="nav-link" href="/crud-form/listarForm">Encuestas</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login" th:text="${accion}">.</a></li>
                </ul>
            </div>
        </div>
    </nav>
  <br>
  <br>
  <br>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Encuestas locales</h1>
            <p class="lead">Listado de los Formularios</p>
        </div>

        <a href="/cambiame.html" class="btn btn-primary">Realizar Encuesta</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Sector</th>
                <th scope="col">Nivel Escolar</th>
                <th scope="col">Agente</th>
                <th scope="col">Latitud</th>
                <th scope="col">Longitud</th>
               <th scope="col">Acciones</th>


            </tr>
            </thead>
           <!------------------------ESTA PARTE NO ESTA--------------------------------->

           <!-- <tbody>
            <tr th:each="formulario : ${lista}">
                <th scope="row">
                    <a th:text="${formulario.id}" th:href="'visualizarForm/'+${formulario.id}"/>
                </th>
                <td th:text="${formulario.nombre}">nombre</td>
                <td th:text="${formulario.sector}">sector</td>
                <td th:text="${formulario.nivelEscolar}">NivelEsc</td>
                <td th:text="${formulario.agente}">agente</td>
               <td th:text="${formulario.latitud}">latitud</td>
                <td th:text="${formulario.longitud}">longitud</td>

                <td>
                    <a th:text="Editar" th:href="'editarForm/'+${formulario.id}" th class="btn btn-secondary btn-sm"/> |
                    <a th:text="Eliminar" th:href="'eliminar/'+${formulario.id}" th class="btn btn-danger btn-sm"/>
                </td>
            </tr>
            </tbody> -->
            <!------------------------ESTA PARTE NO ESTA--------------------------------->

        </table>
        <div id="listaRegistro"></div>
        <button onclick="listarDatos()">Listar Datos</button>
        <button style="margin-top: 20px; width: 100%;" id="sync" class="btn btn-primary">Sincronizar</button>
    </div>
  <div th:replace="/templates/crud-tradicional/plantilla.html::script"></div>


  <!-- incluyendo la parte de javascript del template.        -->
  <div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </div>
  <script>
      $(document).ready(function () {
          setTimeout(() => {
              listarDatos()
          }, 1000)
      });
  </script>
  <!--<script>
      $(document).ready(function () {
          var webSocket;
          var tiempoReconectar = 5000;
          $(document).ready(function(){
              conectar();
              $("#sync").click(async function () {
                  var data = dataBase.result.transaction(["registros"]);
                  var registros = data.objectStore("registros");
                  var contador = 0;
                  var registros_recuperados = [];
                  registros.openCursor().onsuccess = function (e) {
                      var cursor = e.target.result;
                      if (cursor) {
                          contador++;
                          registros_recuperados.push(cursor.value);
                          cursor.continue();
                      }
                  };
                  data.oncomplete = function () {
                      console.log(JSON.stringify(registros_recuperados));
                      console.log(sessionStorage)
                      webSocket.send(JSON.stringify(registros_recuperados));
                  };
              });
          });
          function conectar() {
              webSocket = new WebSocket("ws://" + location.hostname + ":" + location.port + "/sync");
              webSocket.onmessage = function(data){recibirInformacionServidor(data);};
              webSocket.onopen  = function(e){ console.log("Conectado - status "+this.readyState); };
              webSocket.onclose = function(e){
                  console.log("Desconectado - status "+this.readyState);
              };
          }
          function recibirInformacionServidor(mensaje){
              console.log(mensaje.data)
              if (!mensaje.data.localeCompare('DELETE')) {
                  eliminarTodo()
              }
          }
          function verificarConexion(){
              if(!webSocket || webSocket.readyState == 3){
                  conectar();
              }
          }
          setInterval(verificarConexion, tiempoReconectar);
      });
  </script>-->
    </body>

</html>