<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/templates/crud-tradicional/plantilla.html::head">
        <title th:text="${titulo}">Listar</title>
    </head>
    <body>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4" th:text="${titulo}">....</h1>
            <p class="lead">Listado de los estudiantes</p>
        </div>

        <a href="/crud-simple/crear" class="btn btn-primary">Nuevo Estudiante</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Password</th>
                <th scope="col">Rol</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="agente : ${lista}">
                <th scope="row">
                    <a th:text="${agente.usuario}" th:href="'visualizar/'+${agente.usuario}"/>
                </th>
                <td th:text="${agente.nombre}">Agente</td>
                <td th:text="${agente.password}">Password</td>
                <td th:text="${agente.rol}">Password</td>

                <td>
                    <a th:text="Editar" th:href="'editar/'+${agente.usuario}" th class="btn btn-secondary btn-sm"/> |
                    <a th:text="Eliminar" th:href="'eliminar/'+${agente.usuario}" th class="btn btn-danger btn-sm"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

        <!-- incluyendo la parte de javascript del template.        -->
        <div th:replace="/templates/crud-tradicional/plantilla.html::javascript">

        </div>

    </body>

</html>