<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/templates/crud-tradicional/plantilla.html::head">

        <title th:text="${titulo}">...</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../../publico/css/Responsive-Form-Contact-Form-Clean.css">
    <link rel="stylesheet" href="../../publico/css/Responsive-Form.css">
        <link rel="stylesheet" href="../../publico/css/bootstrap.min.css">

    </head>

<body>
    <div class="container">
        <div>
            <form enctype="application/x-www-form-urlencoded" method="post" th:attr="action=${accion}" >
                <input type="hidden" name="_id" th:value="${formulario} ? ${formulario.id}" />
                <div class="form-group mb-3">
                    <div id="formdiv">
                        <div class="row" style="margin-right: 0px;margin-left: 0px;padding-top: 24px;margin-top: 28px;">
                            <div class="col-md-8 offset-md-1">
                                <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Nombre Completo</strong></p>
                            </div>
                            <div class="col-md-10 offset-md-1"><input th:readonly="${visualizar}" th:value="${formulario} ? ${formulario.nombre} : ''" class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" name="nombre" placeholder="nombre"></div>
                        </div>
                        <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px;margin-top:-16px;">
                            <div class="col-md-8 offset-md-1">
                                <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Nivel Escolar</strong></p>
                            </div>
                            <select class="form-select" style="font-family:Roboto, sans-serif;" name="nivelEscolar">
                                <optgroup label="Nivel escolar">
                                    <option value="Basico" th:selected="${formulario != null && formulario.nivelEscolar == 'Basico'}">Basico</option>
                                    <option value="Medio" th:selected="${formulario != null && formulario.nivelEscolar == 'Medio'}">Medio</option>
                                    <option value="Grado Universitario" th:selected="${formulario != null && formulario.nivelEscolar == 'Grado Universitario'}">Grado Universitario</option>
                                    <option value="Postgrado" th:selected="${formulario != null && formulario.nivelEscolar == 'Postgrado'}">Postgrado</option>
                                    <option value="Doctorado" th:selected="${formulario != null && formulario.nivelEscolar == 'Doctorado'}">Doctorado</option>
                                </optgroup>
                            </select>

                        </div>

                        <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-md-8 offset-md-1">
                                <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Sector</strong></p>
                            </div>
                            <div class="col-md-10 offset-md-1">
                                <input th:readonly="${visualizar}" th:value="${formulario} ? ${formulario.sector} : ''" class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" name="sector" placeholder="Sector">
                            </div>
                        </div>
                        <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-md-8 offset-md-1">
                                <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Usuario</strong></p>
                            </div>
                            <div class="col-md-10 offset-md-1"><input readonly="true"  class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" name="usuario" placeholder="usuario" th:value="${nombreAgente}"></div>
                        </div>
                        <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-12 col-md-4 offset-md-4"><button class="btn btn-light btn-lg" style="font-family:Roboto, sans-serif;" type="reset">Limpiar</button><button class="btn btn-light btn-lg" style="margin-left:16px;" type="submit">Enviar</button></div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="latitud" name="latitud">
                <input type="hidden" id="longitud" name="longitud">
            </form>
        </div>
    </div>
    <script src="../../publico/js/bootstrap.min.js"></script>

    <script>
        document.querySelector("form").addEventListener("submit", function(event) {
            event.preventDefault();

            if (!navigator.geolocation) {
                alert("La geolocalización no está disponible en tu navegador. Por favor, introduce la latitud y longitud manualmente.");
                return;
            }

            navigator.geolocation.getCurrentPosition(function(position) {
                document.getElementById("latitud").value = position.coords.latitude;
                document.getElementById("longitud").value = position.coords.longitude;

                event.target.submit();
            }, function() {
                alert("Error al obtener la ubicación. Por favor, introduce la latitud y longitud manualmente.");
            });
        });
    </script>


</body>

</html>